<div class = "container w-auto">
    <div class="page-title">
      <h4>全ての部屋一覧</h4>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>施設名</th>
          <th>住所</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>作成日</th>
        </tr>
      </thead>
  
      <tbody>
      <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.address %></td>
        <td><%= room.introduction %></td>
        <td><%= number_to_currency(room.price, :unit => "￥",:precision => 0) %>~</td>
        <td><%= room.created_at.strftime("%Y/%m/%d")  %></td>
        <td><%= link_to "詳細", room %></td>
      </tr>
    </tr>
    <% end %>
  </tbody>
  </table>
  
  </div>